.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    background: white;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
.container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.Index-content {
    margin-top: 20px;
    margin-right: 200px;
}
.Index-content a{
    color: black;
}
.Index-content hr {
    margin-top: 20px;
    border: 1px solid #747576;
    width: 450px;
}
.main-index {
    margin-left: 100px;
    margin-right: 100px;
}
.main-index h1 {
    text-align: center;
}
.content {
    margin-left: 400px;
    margin-right: 400px;
}
.main-content {
    text-align: justify;
    margin-bottom: 10px;
}
.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
}
.content-footer {
    margin-left: 20%;
    margin-right: 20%;
}
.image-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 50px;
}
.text-wrapper {
    margin-left: 10px; /* Sesuaikan margin sesuai kebutuhan */
    margin-top: 5px;
}
aside{
    width:25%;
    height:330px;
    float:right;
    background:#FF7F50;
    padding:10px;
}
.card {
}